body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
p::first-letter {
  font-size: 128%;
  font-weight: bold;
}

/**********
* Card
***********/
#card {
  box-shadow: 5px 5px 5px #333;
  width: 70%;
  max-width: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  text-align: center;
}


/**********
* Contents
***********/
#content {
  padding: 40px;
}

#profile-image {
  position: relative;
  max-width: 50%;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #333;
}

#name {
  border-radius: 10px;
}

#company {
  text-decoration: underline;
  color: inherit;
}

#company:hover {
  text-decoration: none;
  color: #666;
}

#intro {
  text-align: left;
  line-height: 1.8;
}

/**********
* Links
***********/
#links {
  margin-top: 40px;
}
.links {
  display: inline-flex;
  margin: 0 1.5%;
}
.links a {
  text-decoration: none;
}

.links a span {
  background-color: #444;
  border-radius: 5px;
  color: #eee;
  font-size: 80%;
  margin-top: 50px;
  position: absolute;
  padding: 4px;
  visibility: hidden;
}

.links a:hover span {
  visibility: visible;
}

/**********
* Footer
***********/
footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 10px;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: #333;
}
