<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Stylesheets -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/queries.css">

{{ with .Site.Params }}
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family={{ .google_font }}" rel="stylesheet">

  <!-- User Config Styles -->
  <style>
    * { font-family: {{ .google_font }}; }
    body { background-color: {{ .primary_color }}; }
    #name, footer, footer a {
      color: {{ .primary_color }};
      background-color: {{ .secondary_color }};
    }
    h2::first-letter,
    h3::first-letter,
    h4::first-letter,
    p::first-letter {
      color: {{ .secondary_color }}
    }
    #profile-image {
      border: 5px solid {{ .secondary_color }};
    }
  </style>
{{ end }}

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>